 <div class="container">
            <p class="text-muted">&copy; Wallpaper 2017 | <a href="/wallpapers">Home</a> | <a href="/wallpapers/new">New Wallpaper</a></p>
          </div>   
    </body>
</html>