<% include ../partials/header %>


<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To Wallpapers Station!</h1>
            <p>View our wallpapers and pick some you like</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/wallpapers/new">Add New Wallpaper</a>
            </p>
        </div>
    </header>
    
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
    
        <% wallpapers.forEach(function(wallpaper){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= wallpaper.image %>">
                    <div class="caption">
                        <h4><%= wallpaper.name %></h4>
                    </div>
                    <p>
                        <a href="/wallpapers/<%= wallpaper._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }) %>
        
    </div>
    
</div>

<% include ../partials/footer %>